<h1>Editing assistance</h1>

<%= render "form", assistance: @assistance %>

<br>

<div>
  <%= link_to "Show this assistance", @assistance %> |
  <%= link_to "Back to assistances", assistances_path %>
</div>
