<p style="color: green"><%= notice %></p>

<h1>Assistances</h1>

<div id="assistances">
  <% @assistances.each do |assistance| %>
    <%= render assistance %>
    <p>
      <%= link_to "Show this assistance", assistance %>
    </p>
  <% end %>
</div>

<%= link_to "New assistance", new_assistance_path %>
