<div id="<%= dom_id asistencium %>">
  <p>
    <strong>Alumno:</strong>
    <%= asistencium.alumno_id %>
  </p>

  <p>
    <strong>Asistencia:</strong>
    <%= asistencium.asistencia %>
  </p>

</div>
