<h1>Editing asistencium</h1>

<%= render "form", asistencium: @asistencium %>

<br>

<div>
  <%= link_to "Show this asistencium", @asistencium %> |
  <%= link_to "Back to asistencia", asistencia_path %>
</div>
